/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import "fonts/stylesheet.css";

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    font-family: 'proxima_nova_rgregular';
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.wrapper-2 {
    width: 50%;
    margin: auto;
    text-align: center;
}

.main-nav {
  text-align: center;
}

.main-nav-list {
  list-style: none;
}

.main-nav-list-item {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
}

.main-nav-list-item.invite {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border-radius: 5px;
}

.title {
  text-align: center;
  margin: 30px 0;
}

.main-nav-list:first-child {
  padding-left: 0;
}

.main-nav-list-item a {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

.phone {
  background-image: url("../img/phone.png");
  width: 250px;
  height: 503px;
  float: left;
  margin-right: 30px;
  position: relative;
  background-size: 100%;
}

.phone video {
  width: 219px;
  height: 388px;
  position: absolute;
  left: 15px;
  top: 58px;
}

.title-text {
  color: white;
  font-size: 24px;
  text-align: left;
  line-height: 35px;
  padding-left: 30px;
  padding-top: 30px;
  letter-spacing: 1.5px;
  font-family: 'proxima_nova_ththin';
}

.appstore-badge {
  float: left;
  margin-top: 15px;
}

.footer-container {
  text-align: center;
}

.footer-container a {
  color: white;
  letter-spacing: 1px;
  font-family: 'proxima_nova_ththin';
  text-decoration: none;
  padding: 30px 15px;
  display: inline-block;
}

.page {
  color: white;
}

.page h1 {
  font-family: 'proxima_nova_rgregular';
  letter-spacing: 1px;
}

.page h2 {
  letter-spacing: 1px;
}

.page p {
  font-family: 'proxima_nova_ththin';
}

.page.contact {
  text-align: center;
}

.email-btn {
  font-family: 'proxima_nova_ltsemibold';
  text-decoration: none;
  background: white;
  padding: 12px 60px;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 30px 0;
  display: inline-block;
  color: #66CCFF;
  border-radius: 50px;
}

.page ul li {
  font-family: 'proxima_nova_ththin';
}

/* ===================
    ALL: Orange Theme
   =================== */



/* ==============
    MOBILE: Menu
   ============== */



/* ==============
    MOBILE: Main
   ============== */



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */


}

@media only screen and (max-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

   .main-nav-list-item a {
     color: white;
     font-size: 10px;
     letter-spacing: 2px;
     text-decoration: none;
   }

   .phone {
     margin: auto;
     float: none;
   }

   .wrapper-2 {
     width: 90%
   }

   .title-text {
     text-align: center;
     padding: 0 15px;
     margin: 40px 0;
     font-size: 22px;
   }

   .appstore-badge {
     float: none;
     margin-bottom: 25px;
   }

   .title {
     margin-bottom: 40px;
   }

   .title img {
     width: 65px;
   }

/* ============
    WIDE: Menu
   ============ */



/* ============
    WIDE: Main
   ============ */


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*Slideer*/

.closebt:hover {
  transform: rotate(90deg);
}
.closebt {
  transition: all 0.2s;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

#btn-close-modal {
  text-align: center;
  padding: 30px;
}

.modal-content {
  text-align: center;
  position: relative;
  transform: translateY(-25%);
  top: 25%;

}
.modal-content h1 {
  color: white;
  font-family: 'Avenir Next';
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 60px;
}

#modal-02 {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

#emailAdd {
  width: 80%;
  text-align: center;
  background: none;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-weight: 100;
  padding: 10px 0;
  outline: none;
}

#SubscribeEmail {
  border: none;
  background: none;
  color: white;
  font-family: 'Avenir Next';
  font-weight: 900;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent;
    -webkit-text-fill-color: white;
}

.err {
  margin: 15px;
  color: white;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .modal-content h1 {
    font-size: 48px;
  }
  #SubsribeForm1 input {
    width: 35%;
    font-size: 32px;
  }
  #demo02 {
    font-size: 16px;
    left: 50%;
  }
}

@media only screen and (max-width: 768px) {
  #SubscribeEmail {
    font-weight: 600;
  }

  .modal-content h1 {
    font-weight: 600;
  }
}

/*Placeholder*/

#emailAdd::-webkit-input-placeholder {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
}

#emailAdd:-ms-input-placeholder {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
}

#emailAdd:-moz-placeholder {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
}

#emailAdd::-moz-placeholder {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
}
